<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="genius.mohammad.httpserver.lite"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoreInfoActivity"
            android:label="More Information"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".NotifyActivity"
            android:label="Access Control"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>